* {
	box-sizing: border-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100vw;
	height:100vh;
	overflow:hidden;
	background-color: ghostwhite;
}
header {
	width: 100vw;
	height: 3em;
	margin: 2em;
	text-align: center;
	line-height: 3em;
	font-size: 2em;
	background-color: crimson;
}
.board {
	height: 302px;
	width: 302px;
	margin: 0 auto;
	font-size: 0;
	border: 1px solid grey;
}

.board div {
	height: 100px;
	width: 100px;
	display: inline-block;
	border: 1px solid grey;
}

.red {
	background-color: crimson;
	transition: all .5s;
}

.blue {
	background-color: cornflowerblue;
	transition: all .5s;	
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 302px;
	margin-top: 1em;
}
.score span:last-child {
	padding-left: .9em;
}
.reset {
	height: 3em;
	width: 7em;
	border: 1px solid;
	border-radius: .5em;
	outline: none;
	cursor: pointer;
	background-color: #fff;
}
.reset:hover {
	opacity: .7;
}
.reset:active {
	opacity: .5;
}